<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">FootBall Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student">Players Stats</a>
      </li>


    </ul>

      <!-- check if a user is detected  -->
    <ul class="navbar-nav">
      <% if(!currentUser){ %>
          <li ><a href="/login" class="btn btn-outline-success my-2 my-sm-0">Login</a></li>

      <% }else{ %>
          <li class="nav-item active"><a class="nav-link">Welcome! <%= currentUser.username %></a></li>
          <% if(currentUser.isAdmin) { %>
            <li><a href="/register" class="btn btn-outline-success my-2 my-sm-0">Create User</a></li>&nbsp
          <% } %>
          <li><a href="/logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</a></li>
      <% } %>
    </ul>

  </div>
</nav>

    <!--because success as a variable for flash message, is an array.
    everytime app.js will pass an success array, but only if the array is not empty should we run this flash message-->
    <% if (success && success.length > 0) { %>
        <br>
        <div class="container">
            <div class="alert alert-success" role="alert"><%= success %></div>
        </div>
    <% } %>
    <% if (error && error.length > 0) { %>
        <br>
        <div class="container">
            <div class="alert alert-danger" role="alert"><%= error %></div>
        </div>
    <% } %>
